* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

/* body{
    align-items: center;
} */

a {
  text-decoration: none;
  color: white;
}

/* font style start*/

.sm-extra {
  font-size: 12px;
}

.sm {
  font-size: 14px;
}

.md {
  font-size: 16px;
}

.lg {
  font-size: 18px;
}

h1 {
  font-size: 20px;
}
/* font style end */

header {
  background-color: #87509c;
}

footer {
  background-color: #3c5499;
}

.services {
  background-color: #17c2a4;
}

.about {
  background-color: #d74680;
}

.portfolio {
  background-color: #ffdd99;
}

.team {
  background-color: #e7f1f8;
}

.team,
.skills,
.portfolio {
  color: #000000;
}

header,
.services,
.about,
footer {
  color: white;
}

/* list style */
ul {
  display: flex;
  justify-content: center;
}

li {
  padding-right: 10px;
}

/* list style */

/* padding section start*/
.pad-all20 {
  padding: 20px !important;
}

.padlr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.padlr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.padlr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.padtb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.padtb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.padtb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padt-5 {
  padding-top: 5px !important;
}

.padb-5 {
  padding-bottom: 5px !important;
}

.padt-10 {
  padding-top: 10px !important;
}

.padt-20 {
  padding-top: 20px !important;
}

.padt-30 {
  padding-top: 30px !important;
}

.padb-30 {
  padding-bottom: 30px !important;
}

.padb-20 {
  padding-bottom: 20px !important;
}

.padb-10 {
  padding-bottom: 10px !important;
}
/* padding section end */

/* image start*/

.img20 {
  width: 20%;
  height: auto;
}

.img25 {
  width: 25%;
  height: auto;
}

.img35 {
  width: 35%;
  height: auto;
}

.img50 {
  width: 50%;
  height: auto;
}

.img75 {
  width: 75%;
  height: auto;
}
/* image end */

hr {
  width: 20px;
  background-color: transparent;
  margin: auto;
}

button{
    border-radius: 5px;
    border: none;
}

.head-button{
    color: white;
    background-color: #eb7d4b;
}

.project-button{
    color: white;
    background-color: #17c2a4;
}

.send-msg{
    color: white;
    background-color: #30bae7;
}

input, textarea, ::placeholder{
    background-color: #273a71;
    text-align: left;
    color: white;
    padding: 10px 0px 10px 10px;
    border: none;
}
