* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

img {
  padding: 0px;
  margin: 0px;
}

section,
header {
  padding: 20px;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

hr {
  width: 50px;
  height: 3px;
  margin: 15px auto 0px auto;
}

li a {
  color: #ffffff;
  cursor: pointer;
}

header li a {
  padding: 5px 8px;
  border-radius: 3px;
}
header li a .active, header li a:hover {
  background: #643a79;
}

.social li a .active, .social li a:hover {
  color: #30bae7;
}

br {
  display: none;
}

.social {
  background-color: #344b8e;
  padding: 15px 0px;
}

@media screen and (min-width: 991px) {
  .aboutUs,
  .portfolio,
  .services,
  .skills,
  .team {
    padding: 60px 0px;
  }
  .aboutUs br,
  .portfolio br,
  .services br,
  .skills br,
  .team br {
    display: inline;
  }
  h1 {
    font-size: x-large;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 10px;
  }
  ul {
    display: flex;
    justify-content: center;
  }
  .flex div {
    padding-top: 0px;
  }
  .container {
    width: 1080px;
    margin: 0px auto;
  }
}
* {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

p {
  font-size: 13px;
  padding: 10px;
}

hr {
  width: 50px;
  height: 3px;
  margin: 15px auto 0px auto;
}

@media screen and (min-width: 991px) {
  h1 {
    font-size: x-large;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
    padding: 15px;
  }
  span {
    font-size: 12px;
  }
}
.aboutUs {
  background-color: #d74680;
  color: #ffffff;
}
.aboutUs span {
  color: #ffdd99;
}
.aboutUs div img {
  width: 100px;
  height: 100px;
}
.aboutUs .flex-col {
  padding: 20px 0px 0px;
}
@media screen and (min-width: 991px) {
  .aboutUs .flex-col {
    padding: 15px 15px 0px;
  }
}
.aboutUs .flex-col p {
  font-style: italic;
}

@media screen and (min-width: 991px) {
  .aboutUs .flex, .aboutUs .flex-col {
    display: flex;
    justify-content: center;
  }
  .aboutUs .flex div, .aboutUs .flex-col div {
    padding: 20px 0px 0px;
    text-align: left;
  }
}
@media screen and (min-width: 991px) and (min-width: 991px) {
  .aboutUs .flex div, .aboutUs .flex-col div {
    padding: 15px 15px 0px;
  }
}
@media screen and (min-width: 991px) {
  .aboutUs .flex div p, .aboutUs .flex-col div p {
    padding: 0px;
  }
  .aboutUs .flex div p, .aboutUs .flex div h3, .aboutUs .flex div span, .aboutUs .flex-col div p, .aboutUs .flex-col div h3, .aboutUs .flex-col div span {
    text-align: left;
  }
  .aboutUs .flex div h3, .aboutUs .flex-col div h3 {
    padding: 10px 0px 0px 0px;
  }
  .aboutUs .flex-col {
    width: 400px;
    padding: 0px 20px;
  }
}
footer {
  color: #ffffff;
  background-color: #3c5499;
  padding: 20px;
}
footer a {
  color: #ffffff;
}
footer input {
  width: 40%;
  background-color: #273a71;
  color: #ffffff;
  text-align: left;
  padding: 10px;
  margin: 20px 0px 15px;
  border: none;
  border-radius: 5px;
}
@media screen and (min-width: 991px) {
  footer input input {
    margin: 30px 0px 20px;
  }
}
footer textarea {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  width: 80%;
  background-color: #273a71;
  padding: 10px;
  text-align: left;
}
footer ::-moz-placeholder {
  color: #ffffff;
  text-align: left;
}
footer ::placeholder {
  color: #ffffff;
  text-align: left;
}
footer button {
  margin: 20px 0px;
}
@media screen and (min-width: 991px) {
  footer button {
    margin: 40px 0px;
  }
}

@media screen and (min-width: 991px) {
  footer {
    padding: 60px 60px 0px;
  }
}
header {
  color: #ffffff;
  background-color: #87509c;
}
header h1 {
  padding: 40px 0px 30px 0px;
}
header img {
  width: 100px;
  height: auto;
  float: left;
}

@media screen and (min-width: 991px) {
  header h1 {
    padding: 60px 0px 40px 0px;
  }
}
.portfolio {
  background-color: #ffdd99;
}
.portfolio img {
  width: 320px;
}
.portfolio ul {
  display: flex;
  justify-content: center;
}
.portfolio ul li {
  padding: 0px 5px;
}
.portfolio .flex div {
  padding: 20px 0px 0px;
}
@media screen and (min-width: 991px) {
  .portfolio .flex div {
    padding: 15px 15px 0px;
  }
}
.portfolio button {
  margin: 20px 0px 10px;
}

@media screen and (min-width: 991px) {
  .portfolio .flex {
    display: flex;
    justify-content: center;
  }
  .portfolio img {
    width: 400px;
  }
}
.services {
  background-color: #17c2a4;
  color: #ffffff;
}

@media screen and (min-width: 991px) {
  .services {
    padding: 60px;
  }
  .services .flex {
    display: flex;
    justify-content: center;
  }
  .services .flex div {
    padding-top: 0px;
    width: 350px;
  }
  .services .flex div div {
    width: 250px;
    margin: 0px auto;
  }
}
.team {
  background-color: #e7f1f8;
}
.team .flex div div img {
  width: 100px;
  height: 100px;
}
.team .flex-col {
  padding: 20px 0px 0px;
}
@media screen and (min-width: 991px) {
  .team .flex-col {
    padding: 15px 15px 0px;
  }
}
.team ul {
  display: flex;
  justify-content: center;
}
.team ul li {
  padding: 0px 5px;
}

@media screen and (min-width: 991px) {
  .team {
    padding: 60px;
  }
  .team .flex {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  .team .flex div {
    padding-top: 0px;
    width: 350px;
  }
  .team .flex div div {
    width: 250px;
    margin: 0px auto;
  }
}
.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.blue-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#30bae7 90%, #dfe8ed 0);
}

.pink-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#d74680 75%, #dfe8ed 0);
}

.green-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#15c7a8 70%, #dfe8ed 0);
}

.orange-bar {
  background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(#eb7d4b 85%, #dfe8ed 0);
}

.flex div {
  padding: 15px 0px;
}
.flex h3 {
  padding-top: 10px;
}

@media screen and (min-width: 991px) {
  .flex {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
  }
}
ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.social {
  width: 100%;
  background-color: #344b8e;
}
.social a {
  color: #ffffff;
}

button {
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 25px;
}
@media screen and (min-width: 991px) {
  button {
    font-size: 16px;
    padding: 13px 40px;
    border-radius: 6px;
  }
}

@media screen and (min-width: 991px) {
  header {
    padding: 40px 120px 60px 120px;
  }
  header nav div {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  header nav ul {
    display: flex;
    justify-content: center;
  }
  header nav ul li {
    padding: 10px;
  }
}/*# sourceMappingURL=main.css.map */