@mixin flexy(){
    display: flex;
    justify-content: center;
}

@mixin img-default(){
    img{
        width: 20px;
    }
}

@mixin img-100{
    img{
        width: 100px;
        height: 100px;
    }
}

@mixin flex-div(){
    .flex{
        div{
            padding-top: 20px;
        }
    }
}

@mixin pad20(){
    padding-top: 20px;
}

@mixin li-spacing(){
    li{
        padding: 0px 5px;
    }   
}

@mixin pad15(){
    padding: 20px 0px 0px;
    @media screen and (min-width:991px){
        padding: 15px 15px 0px;
    }
}

@mixin para-pad-none(){
    p{
        padding: 0px;
    }
}

@mixin head3-padtb(){
    h3{
        padding: 10px 0px 0px 0px;
    }
}

@mixin txt-left(){
    p, h3, span{
        text-align: left;
    }
    text-align: left;
}
