* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

header {
  background-color: #87509c;
  color: #ffffff;
  padding: 30px;
  font-family: "Titillium Web", Arial;
}
header img {
  width: 180px;
}
header li > a {
  text-decoration: none;
  color: #ffffff;
}
header li > a:hover {
  background-color: #643a79;
  padding: 8px;
  border-radius: 5px;
}
header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header ul li {
  list-style: none;
  padding-top: 10px;
}
header button {
  background-color: #eb7d4b;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  color: #ffffff;
}
header h1 {
  padding: 40px 0px 20px 0px;
}

@media screen and (min-width: 991px) {
  header {
    padding: 30px 80px 80px 60px;
  }
  header nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 100px;
  }
  header nav > div ul {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
  }
  header nav > div ul a {
    padding: 0px 10px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.services {
  background-color: #17c2a4;
  padding: 30px 30px;
  color: #ffffff;
  font-family: "Titillium Web", Arial;
}
.services hr {
  width: 50px;
  background-color: #14a58c;
  margin: 15px auto;
}
.services div > div {
  padding: 30px 0px 0px 0px;
}
.services h3 {
  padding: 20px 0px;
}
.services ul {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 991px) {
  .services > div {
    display: flex;
  }
  .services {
    padding: 60px 80px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.team {
  background-color: #e7f1f8;
  color: #3c4761;
  padding: 30px 30px;
  font-family: "Titillium Web", Arial;
}
.team hr {
  width: 50px;
  background-color: #c8d9e5;
  margin: 15px auto;
}
.team h3 {
  padding: 20px 0px 5px 0px;
}
.team div > img {
  width: 130px;
}
.team div > div {
  padding: 30px 0px 0px 0px;
}
.team div > p {
  padding: 20px 0px;
}
.team span {
  color: #30bae7;
}
.team ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;
}
.team ul li {
  padding: 5px;
}

@media screen and (min-width: 991px) {
  .team > div {
    display: flex;
  }
  .team {
    padding: 60px 80px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.skills {
  background-color: #ffffff;
  color: #3c4761;
  font-family: "Titillium Web", Arial;
  padding: 30px 30px;
}
.skills hr {
  width: 50px;
  background-color: #c8d9e5;
  margin: 15px auto;
}
.skills h3 {
  padding: 20px 0px 5px 0px;
}
.skills div > div {
  padding: 30px 0px 0px 0px;
}
.skills div > p {
  padding: 20px 0px;
}
.skills span {
  color: #30bae7;
}

@media screen and (min-width: 991px) {
  .skills > div {
    display: flex;
    justify-content: center;
  }
  .skills > div div {
    padding: 20px 10px 0px 10px;
  }
  .skills {
    padding: 60px 80px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.portfolio {
  background-color: #ffdd99;
  color: #3c4761;
  padding: 30px 30px;
  font-family: "Titillium Web", Arial;
}
.portfolio hr {
  width: 50px;
  background-color: #14a58c;
  margin: 15px auto;
}
.portfolio div > img {
  width: 350px;
  padding-bottom: 10px;
}
.portfolio .cols2 > div {
  padding: 20px 0px 0px 0px;
}
.portfolio button {
  background-color: #17c2a4;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  margin-top: 20px;
  color: #3c4761;
}
.portfolio ul {
  display: block;
}
.portfolio ul li {
  list-style: none;
  padding: 10px;
}
.portfolio ul li a {
  text-decoration: none;
  background-color: #ebc985;
  padding: 5px 15px;
  border-radius: 4px;
}
.portfolio ul li a:hover {
  background-color: #ffffff;
}

@media screen and (min-width: 991px) {
  .portfolio {
    padding: 60px 80px;
  }
  .portfolio ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0px;
  }
  .portfolio ul li {
    padding: 0px 10px;
  }
  .portfolio > div {
    display: flex;
    justify-content: center;
  }
  .portfolio > div img {
    width: 400px;
    padding: 0px 10px 0px 10px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.aboutUs {
  background-color: #d74680;
  color: #ffffff;
  font-family: "Titillium Web", Arial;
  padding: 30px 30px;
}
.aboutUs hr {
  width: 50px;
  background-color: #14a58c;
  margin: 15px auto;
}
.aboutUs .cols2 {
  padding: 20px 0px 0px 0px;
}
.aboutUs .cols2 img {
  width: 130px;
  height: 130px;
}
.aboutUs div > p {
  padding: 15px 0px;
}
.aboutUs h3 {
  padding-bottom: 5px;
}
.aboutUs span {
  color: #ffdd99;
}

@media screen and (min-width: 991px) {
  .aboutUs > div {
    display: flex;
    justify-content: center;
  }
  .aboutUs > div .cols2 {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }
  .aboutUs > div .cols2 div {
    width: 300px;
    padding: 0px 20px;
  }
  .aboutUs > div .cols2 p {
    font-style: italic;
  }
  .aboutUs {
    padding: 60px 80px;
  }
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-align: center;
}

.input {
  background-color: #3c5499;
  color: #ffffff;
  font-family: "Titillium Web", Arial;
  padding: 30px 30px;
}
.input hr {
  width: 50px;
  background-color: #c8d9e5;
  margin: 15px auto;
}
.input h3 {
  padding: 20px 0px 5px 0px;
}
.input div > .input-box {
  padding: 30px 0px;
}
.input button {
  background-color: #30bae7;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  color: #ffffff;
}

textarea,
input {
  padding: 10px;
  background-color: #273a71;
  border: none;
  border-radius: 6px;
}

::-moz-placeholder {
  color: #ffffff;
  text-align: left;
}

::placeholder {
  color: #ffffff;
  text-align: left;
}

.social {
  background-color: #344b8e;
  padding: 15px 0px;
}
.social ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.social ul a {
  text-decoration: none;
  color: #ffffff;
}
.social ul a:hover {
  color: #30bae7;
}

@media screen and (min-width: 991px) {
  .social > ul {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=main.css.map */