@mixin reset-list{
    list-style: none;
}

@mixin font-family{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@mixin heading{
    font-size: 20px;
}

@mixin paragraph {
    font-size: 16px;
}

@mixin small-title{
    font-size: 12px;
}

// background colour start
@mixin purple() {
    background-color: #87509c;
}

@mixin green{
    background-color: #17c2a4;
}

@mixin gray{
    background-color: #e7f1f8;
}

@mixin yellow{
    background-color: #ffdd99;
}

@mixin pink{
    background-color: #d74680;
}

@mixin voilet{
    background-color: #3c5499;
}
// background colour end