* {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  text-align: center;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

header{
  background-color: #87509c;
}

.services{
  background-color: #17c2a4;
}

.team{
  background-color: #e7f1f8;
}

.portfolio{
  background-color: #ffdd99;
}

.aboutUs{
  background-color: #d74680;
}

footer{
  background-color: #3c5499;
}

section{
  padding: 20px;
}






/* styles for tablet devices */
@media only screen and (max-width: 991px) {
  body {
    font-size: 14px;
    width: 80%;
    margin: auto;
  }
}

/* styles for desktop devices */
@media only screen and (min-width: 992px) {
  section, header{
    padding: 60px 100px;
  }

  section>div, ul{ 
    display: flex;
    justify-content:space-evenly;
  }

  section>div>div{
    flex: 50%;
    padding: 20px 30px 0px 0px;
  }
  
  div>img,h3,ul{
    padding-top: 20px;
  }

  p{
    padding-top: 20px;
  }

  .aboutUs>div>div>div{
    display: flex;
    justify-content: space-between;
    
  }

  .cols{
    flex: 50%;
  }

  }


