.skills {
  // background-color: $bgcolor;
  // color: $font-color;
  // font-family: $font-family;
  align-items: center;
  text-align: center;
  padding: 30px 30px;

  hr {
    width: 50px;
    background-color: #c8d9e5;
    margin: 15px auto;
  }

  h3 {
    padding: 20px 0px 5px 0px;
  }

  div {

    div {
      padding: 30px 0px 0px 0px;
    }
  }

  span {
    color: #30bae7;
  }
}

@media screen and (min-width: 991px) {
  .skills {
    .flex{
      display: flex;
      justify-content: center;
    }
  }
}
