.aboutUs{
    background-color: $pink;
    color: $white;
    span{
        color: $font-yellow;
    }
    div{
        img{
            width: 100px;
            height: 100px;
        }
    }

    .flex-col{
        @include pad15();
        p{
            font-style: italic;
        }
    }
}

@media screen and (min-width:991px) {
    .aboutUs{
        .flex, .flex-col{
           @include flexy();
           div{
            @include pad15();
            @include para-pad-none();
            @include txt-left();
            @include head3-padtb();
           }
        }
        .flex-col{
            width: 400px;
            padding:0px 20px;
         }
    }
}