footer {
  color: $white;
  a {
    color: $white;
  }
  background-color: $footerbgcolor;
  padding: 20px;
}

@media screen and (min-width: 991px) {
    footer{
        padding: 60px 60px 0px;
    }

  .social{
    background-color: $socialbgcolor;
  }
}
