header{
    color: $white;
    background-color: $bgcolor;
    img{
        width: 100px;
        height: auto;
    }
}

@media screen and (min-width:991px) {
    header{
        h1{
            padding: 60px 0px 30px 0px;
        }
    }
}
