.portfolio{
    background-color: $yellow;
    img{
        width: 320px;
    }

    ul{
        @include flexy();
        @include li-spacing();
    }

    .flex{
        div{
            @include pad15();
        }
    }
    button{
        margin: 20px 0px 10px;
    }
}

@media screen and (min-width:991px){
    .portfolio{
        .flex{
            @include flexy();
        }
        img{
            width: 400px;
        }
    }
}

