$bgcolor: #3c5499;
$font-color: #ffffff;
$font-family: 'Titillium Web', Arial;

hr {
  width: 50px;
  background-color: #c8d9e5;
  margin: 20px auto;
}

footer> {
  background-color: $bgcolor;
  color: $font-color;
  padding: 30px 30px;

  h3 {
    padding: 20px 0px 5px 0px;
  }

  div> .input-box{
    padding: 30px 0px;
  }

  

}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: auto;

  li {
    padding: 5px;
  }
}

@media screen and (min-width: 991px) {
  footer>div{
    display: flex;
    flex-direction: column;
  }
}
