.aboutUs {
  // background-color: $bgcolor;
  // color: $font-color;
  // font-family: $font-family;
  padding: 30px 30px;

  hr {
    width: 50px;
    background-color: #14a58c;
    margin: 15px auto;
  }

  .cols2 {
    padding: 20px 0px 0px 0px;

    img {
      width: 130px;
      height: 130px;
    }
  }
  div {
    p {
      padding: 15px 0px;
    }
  }

  h3 {
    padding-bottom: 5px;
  }

  span {
    color: #ffdd99;
  }
}

@media screen and (min-width: 991px) {
  .aboutUs {
    padding: 60px 80px;
    .flex{
      display: flex;
      justify-content: center;
      
    }
  }
}
